body {
  font-family: "Courier", sans-serif;
  margin: 0px;
}

header {
  text-align: right;
}

header li, header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header li {
    display: inline-block;
}

p {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: magenta;
}

section {
  display: table;
  border-collapse: collapse;
  width: 100%;
  min-height: 100vh;
}

#leftcol {
  width: 25%;
  display: table-cell;
  letter-spacing: 0px;
  font-size: 32px;
  margin-right: 10px;
  background-color: black;
  color: white;
  word-break: break-all;
}

#aboutme {
  padding: 12px;
}

#rightcol {
  width: 25%;
  display: table-cell;
  font-size: 32px;
  margin-left: 10px;
  background-color: black;
  color: white;
  word-break: break-all;
}

#thinginside1 {

}

#thinginside2 {
  display: table-cell;
}

/* cv styles here */
#cv-page {}
