body {
  font-family: "Courier", sans-serif;
  margin: 0px;
}

header {
  text-align: right;
}

header li, header ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

header li {
    display: inline-block;
}

p {
  color: #000000;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

a:hover {
  color: rgb(208, 0, 255);
}

section {
  display: table;
  border-collapse: collapse;
  width: 100%;
  min-height: 100vh;
}

#leftcol {
  display: table-cell;
  margin-right: 10px;
  background-color: black;
  color:azure;
  word-break: break-all;
}

#aboutme {
  width: 800px;
  padding: 12px;
}

#rightcol {
  display: table-cell;
  margin-left: 10px;
  background-color: black;
  color:azure;
  word-break: break-all;
}

#thinginside1 {

}

#thinginside2 {
  display: table-cell;
}

/* cv styles here */
#cv-page {}
