input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

form {
    font-family: sans-serif;
    font-size: 16px;
}

input {
    border-radius: 8px;
    padding: 6px;
    border: 1px solid #666;
}

input[type=radio],
input[type=checkbox] {
    margin-left: 0;
}

input[type=text] {
    border-radius: 8px;
    padding: 8px 8px;
    box-sizing: border-box;
    width: 200px;
    border: 1px solid #666;
}

input[type=password],
input.visible-password {
    border-radius: 8px;
    padding: 8px 8px 8px 28px;
    box-sizing: border-box;
    width: 200px;
    border: 1px solid #666;
}

input[type=radio] {
    display: inline-block;
}

.invalid input {
    border-color: #F00;
}

.val-description {
    display:none;
    border: 1px solid #924;
    margin: 0;
    padding: 6px;
    background: #F99;
}

.val-description .broken {
   font-weight: bold; 
}

.invalid + .val-description {
    display:inline-block;
}

input:focus {
    outline: none;
}

input:disabled {
    background: rgb(210,210,210);
}

input[type="checkbox"] {
    display: inline;
    width: auto;
}

fieldset {
    border: none;
    border-collapse: collapse;
    margin: 12px 0;
    padding: 0;
}

label {
    display: block;
    margin: 0;
    position: relative;
    display:inline-block;
}

label .marker {
    display: none;
    position: absolute;
    z-index: 2;
    bottom: 2px;
    right: 8px;
}

label .marker.eye {
    display: inline;
    opacity: 0.6;
    right: auto;
    left: 8px;
}

label .marker.eye.active {
    opacity: 1.0;
}

.valid .marker.valid {
    display: inline;
    color: #0a0;
}

.invalid .marker.invalid {
    display: inline;
    color: #f00;
}

label span.label-text {
    padding: 4px 8px 0 0;
    display: block;
}

label input + span.label-text {
    padding: 4px 8px 4px 0;
    display: inline;
}

.optional span.label-text {
    padding: 4px 8px 0 0;
    font-size: 14px;
}

.optional {
    margin: 8px 0 12px 22px;
}

.optional input {
    width: 120px;
}

input[type=checkbox]:not(:checked) + span + br + .optional,
input[type=radio]:not(:checked) + span + br + .optional {
    display: none;
}

label input.six-code {
    font-size: 32px; 
    font-family: monospace;
    letter-spacing: 4px;
    padding: 3px 0 3px 4px;
    box-sizing: border-box;
    width: auto;
    border: none;
    width: 144px;
    border-radius: 12px;
    background:transparent;
}

.six-grid-cont {
    width: 144px;
    border-radius: 12px;
    border: 1px solid #999;
    position: relative;
}

.six-grid {
    position: absolute;
    top: 0;
    left: 0;
}

.six-grid span {
    font-size: 32px;
    font-family: monospace;
    letter-spacing: 3px;
    padding: 2px 0 6px 0;
    box-sizing: border-box;
    border-width: 0 1px 0 0;
    border-style: solid;
    border-color: #999;
}

.six-grid span:first-child {
    padding-left: 3px;
}

button {
    border-radius: 8px;
    border: none;
    background: rgb(100,200,100);
    padding: 8px 12px;
    font-size: 22px;
    margin-top: 12px;
}

button:hover {
    background: rgb(130,230,130);
}

button:active {
    background: rgb(160,200,160);
}
